<app-auth-content>
    <div class="app-title">
        <div>
            <h1><i class="fa fa-user"></i> Customers</h1>
            <p>Customers page</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="#">Customers</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">Create Customer</div>
            </div>
        </div>
    </div>
</app-auth-content>